/* apply a natural box layout model to all elements, but allowing components to change */
html {
  margin-top: 5rem;
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}



/**UTILITIES**/
#map {
    margin: 0 auto;
    width: 300px;
    height: 200px;
}
.title{
    margin-top: 5rem;
    font-size: 3rem;
    background-color: chartreuse;
    width: 40%;
    text-align: center;
    display: inline-block;
    border-radius: .7rem;
}

.center{
    text-align: center;
}


.container{
    max-width: 100rem;
    margin: 0 auto;
    background-color: bisque;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 5px rgba(11, 11, 11, 0.6);
    padding-bottom: 5rem;
    
}

.btn{
    background-color: rgb(77, 43, 231);
    font-weight: 400;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    border: none;
    border-radius: .5rem;
}

.btn:hover{
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.7);;
}

